/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

.main {
  background-image: url("../assets/background.jpg");
  width: 100%;
  min-height: 100%;
  height: auto;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  margin: 0px auto;
  display : flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;  
  overflow: auto;
  resize: both;
}

.mainHeader {
  width: 75%;
  height: 8%;
  background-color: rgba(180,180,210,0.4);
  padding: 5px 5px;
  margin: 10px 20px;
}

.mainBody {
  width: 75%;
  min-height: 70%;
  height: auto;
  background-color: rgba(220,220,220,0.5);
  resize: both;
  overflow: auto;
  display: flex;
  /* align-items: flex-start; */
  justify-content: center;
  padding-top: 0px;
  /* position: relative; */
}

.title {
  font-size:26px;
  font-style:;
}
