table {
    /* width: auto; */
    /* table-layout: fixed; */
    /* margin: 0 auto; */
}

table tr td {
    text-align: left;
    width: 70%;
    /* margin: 10px 10px; */
    height: 15px;
}