table {
  /* min-width: 80%; */
  /* width: auto; */
  table-layout: fixed;
  margin: 0 auto;
}

table tr td {
  text-align: left;
  width: 70%;
  margin: 10px 10px;
}

.contents {
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  resize: both;
  /* overflow: auto; */
  /* min-height: 70%; */
  /* height: 70%; */
  /* position: relative; */
}

.animateButton {
    padding: 15px 25px;
    color: white;
    background-color: rgb(30,30,30);
}

.sortDesc {

}

.animation {
  display: flex;
  flex-direction: row;
  background-color: white;
  min-width: 80%;
  width: auto;
  padding: 20px 0px;
}

.blockElmt {
  background-color: rgb(120,200,120);
  height: 40px;
  width: 25px;
  padding: 0px 5px;
  margin: 5px 5px;
  text-align: center;
}

